.page-title {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 30px;
}

.contest-list {
    display: grid;
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.contest-card {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.soon { background: #facc15; color: #111; }
.live { background: #22c55e; color: #111; }
.later { background: #38bdf8; color: #111; }
