.login-box {
    max-width: 360px;
    margin: 100px auto;
    background: #020617;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #0b0f1a;
    border: 1px solid #1e293b;
    color: white;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
