.page-title {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 30px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 20px;
}

.stat-box {
    background: #020617;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}
