.login-box{
  max-width:360px;
  margin:120px auto;
  background:var(--panel);
  padding:30px;
  border-radius:14px;
  text-align:center;
}

.login-box h2{
  margin-bottom:20px;
  color:var(--accent);
}

.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.login-box button{
  width:100%;
  padding:10px;
  background:var(--accent);
  border:none;
  font-weight:700;
  cursor:pointer;
}
